In [2]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\sreek\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\sreek\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv('Book1.csv')

     name  age
0    sree   21
1     som   34
2  nazlee   55

In [6]:
from pyspark.sql import SparkSession

In [13]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [15]:
spark

In [17]:
df_pyspark=spark.read.csv('Book1.csv')

In [19]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [21]:
 df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  name|age|
|  sree| 21|
|   som| 34|
|nazlee| 55|
+------+---+

In [23]:
spark.read.option('header','true').csv('Book1.csv')

DataFrame[name: string, age: string]

In [25]:
spark.read.option('header','true').csv('Book1.csv').show()

+------+---+
|  name|age|
+------+---+
|  sree| 21|
|   som| 34|
|nazlee| 55|
+------+---+

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.head(3)

[Row(_c0='name', _c1='age'),
 Row(_c0='sree', _c1='21'),
 Row(_c0='som', _c1='34')]

In [31]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [33]:
from pyspark.sql import SparkSession

In [35]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [37]:
spark

In [45]:
##read the dataset
spark.read.option('header','true').csv('book2.csv',inferSchema=True)

DataFrame[Name: string, age: int, experience: int]

In [51]:
df_pyspark=spark.read.csv('book2.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|age|experience|
+------+---+----------+
|  sree| 20|         1|
|   som| 21|         2|
|nazlee| 23|         3|
+------+---+----------+

In [53]:
df_pyspark.printSchema()   ##checking the datatypes of the column

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [55]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [57]:
df_pyspark.columns

['Name', 'age', 'experience']

In [59]:
df_pyspark.head(3)

[Row(Name='sree', age=20, experience=1),
 Row(Name='som', age=21, experience=2),
 Row(Name='nazlee', age=23, experience=3)]

In [67]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|  sree|         1|
|   som|         2|
|nazlee|         3|
+------+----------+

In [69]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [71]:
df_pyspark.describe().show()

+-------+------+------------------+----------+
|summary|  Name|               age|experience|
+-------+------+------------------+----------+
|  count|     3|                 3|         3|
|   mean|  NULL|21.333333333333332|       2.0|
| stddev|  NULL|1.5275252316519465|       1.0|
|    min|nazlee|                20|         1|
|    max|  sree|                23|         3|
+-------+------+------------------+----------+

In [75]:
## add colunm in dataframe
df_pyspark.withColumn('Experience after 2 yaer',df_pyspark['Experience']+2)

DataFrame[Name: string, age: int, experience: int, Experience after 2 yaer: int]

In [77]:
df_pyspark.withColumn('Experience after 2 yaer',df_pyspark['Experience']+2).show()

+------+---+----------+-----------------------+
|  Name|age|experience|Experience after 2 yaer|
+------+---+----------+-----------------------+
|  sree| 20|         1|                      3|
|   som| 21|         2|                      4|
|nazlee| 23|         3|                      5|
+------+---+----------+-----------------------+

In [79]:
df_pyspark.drop('Experience after 2 yaer')   ##drop a column

DataFrame[Name: string, age: int, experience: int]

In [81]:
df_pyspark.show()

+------+---+----------+
|  Name|age|experience|
+------+---+----------+
|  sree| 20|         1|
|   som| 21|         2|
|nazlee| 23|         3|
+------+---+----------+

In [83]:
## reaname of column
df_pyspark.withColumnRenamed('Name','New Name')

DataFrame[New Name: string, age: int, experience: int]

In [85]:
df_pyspark.show()

+------+---+----------+
|  Name|age|experience|
+------+---+----------+
|  sree| 20|         1|
|   som| 21|         2|
|nazlee| 23|         3|
+------+---+----------+

In [87]:
from pyspark.sql import SparkSession

In [89]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [93]:
df_pyspark=spark.read.csv('book3.csv',header=True,inferSchema=True)

In [95]:
df_pyspark.show()

+-----+----+----------+------+
| name| age|experience|salary|
+-----+----+----------+------+
|  ram|  33|        12|  3000|
|shyam|  43|        34|  7000|
| jodu|  45|        56|  6000|
|modhu|  65|        22|  8000|
| hari|  77|         1|  9000|
| mira|  56|        23| 10000|
| valu|NULL|      NULL|  9030|
| NULL|  45|         5| 67000|
| NULL|  67|      NULL|  NULL|
+-----+----+----------+------+

In [97]:
df_pyspark.drop('Name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  33|        12|  3000|
|  43|        34|  7000|
|  45|        56|  6000|
|  65|        22|  8000|
|  77|         1|  9000|
|  56|        23| 10000|
|NULL|      NULL|  9030|
|  45|         5| 67000|
|  67|      NULL|  NULL|
+----+----------+------+

In [99]:
df_pyspark.show()

+-----+----+----------+------+
| name| age|experience|salary|
+-----+----+----------+------+
|  ram|  33|        12|  3000|
|shyam|  43|        34|  7000|
| jodu|  45|        56|  6000|
|modhu|  65|        22|  8000|
| hari|  77|         1|  9000|
| mira|  56|        23| 10000|
| valu|NULL|      NULL|  9030|
| NULL|  45|         5| 67000|
| NULL|  67|      NULL|  NULL|
+-----+----+----------+------+

In [103]:
df_pyspark.na.drop().show() ##removing the null value

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|  ram| 33|        12|  3000|
|shyam| 43|        34|  7000|
| jodu| 45|        56|  6000|
|modhu| 65|        22|  8000|
| hari| 77|         1|  9000|
| mira| 56|        23| 10000|
+-----+---+----------+------+

In [105]:
### any == how
df_pyspark.na.drop(how=="all").show ## how is bydefalut any,means there are some null value ,it only remove that 
value,all means all value will be removesd but there is even one null value so it may not be happen.thats why error occurs.

NameError: name 'how' is not defined

In [107]:
##thresold
df_pyspark.na.drop(how="any",thresh=2).show() ## its means there need at least 2 non null value for not be deleted

+-----+----+----------+------+
| name| age|experience|salary|
+-----+----+----------+------+
|  ram|  33|        12|  3000|
|shyam|  43|        34|  7000|
| jodu|  45|        56|  6000|
|modhu|  65|        22|  8000|
| hari|  77|         1|  9000|
| mira|  56|        23| 10000|
| valu|NULL|      NULL|  9030|
| NULL|  45|         5| 67000|
+-----+----+----------+------+

In [109]:
##subset
df_pyspark.na.drop(how="any",subset=['Experience']).show() 
## whereever the experience have the null value it may deleted,
##it subsettify the null to be deleted

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|  ram| 33|        12|  3000|
|shyam| 43|        34|  7000|
| jodu| 45|        56|  6000|
|modhu| 65|        22|  8000|
| hari| 77|         1|  9000|
| mira| 56|        23| 10000|
| NULL| 45|         5| 67000|
+-----+---+----------+------+

In [119]:
## fill the missing value
df_pyspark=spark.read.csv('book3.csv',header=True,inferSchema=True)

#df_pyspark.na.fill('missing value').show()

In [115]:
df_pyspark.na.fill('missing value',['experience','age']).show()

+-----+----+----------+------+
| name| age|experience|salary|
+-----+----+----------+------+
|  ram|  33|        12|  3000|
|shyam|  43|        34|  7000|
| jodu|  45|        56|  6000|
|modhu|  65|        22|  8000|
| hari|  77|         1|  9000|
| mira|  56|        23| 10000|
| valu|NULL|      NULL|  9030|
| NULL|  45|         5| 67000|
| NULL|  67|      NULL|  NULL|
+-----+----+----------+------+

In [143]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'experience', 'salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'experience', 'salary']]
    ).setStrategy("median")

In [147]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
|  ram|  33|        12|  3000|         33|                12|          3000|
|shyam|  43|        34|  7000|         43|                34|          7000|
| jodu|  45|        56|  6000|         45|                56|          6000|
|modhu|  65|        22|  8000|         65|                22|          8000|
| hari|  77|         1|  9000|         77|                 1|          9000|
| mira|  56|        23| 10000|         56|                23|         10000|
| valu|NULL|      NULL|  9030|         45|                22|          9030|
| NULL|  45|         5| 67000|         45|                 5|         67000|
| NULL|  67|      NULL|  NULL|         67|                22|          8000|
+-----+----+----------+------+-----------+------------------+--------------+

In [152]:
df_pyspark=spark.read.csv('book4.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+---+----------+------+
|      Name|Age|Experiance|Salary|
+----------+---+----------+------+
|     krish| 31|        10| 30000|
|sudhangshu| 30|         8| 25000|
|     sunny| 29|         4| 20000|
|      paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|    subham| 23|         2| 18000|
+----------+---+----------+------+

In [156]:
##filter operation
##salary of the people less than or equal to 20000
df_pyspark.filter("salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experiance|Salary|
+------+---+----------+------+
| sunny| 29|         4| 20000|
|  paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|subham| 23|         2| 18000|
+------+---+----------+------+

In [158]:
df_pyspark.filter("salary<=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
| sunny| 29|
|  paul| 24|
|Harsha| 21|
|subham| 23|
+------+---+

In [164]:
#for multiple condition
df_pyspark.filter((df_pyspark['salary']<=20000) & (df_pyspark['salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experiance|Salary|
+------+---+----------+------+
| sunny| 29|         4| 20000|
|  paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|subham| 23|         2| 18000|
+------+---+----------+------+

In [166]:
df_pyspark.filter((df_pyspark['salary']<=20000)|(df_pyspark['salary']>=15000)).show()

+----------+---+----------+------+
|      Name|Age|Experiance|Salary|
+----------+---+----------+------+
|     krish| 31|        10| 30000|
|sudhangshu| 30|         8| 25000|
|     sunny| 29|         4| 20000|
|      paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|    subham| 23|         2| 18000|
+----------+---+----------+------+

In [170]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()

+----------+---+----------+------+
|      Name|Age|Experiance|Salary|
+----------+---+----------+------+
|     krish| 31|        10| 30000|
|sudhangshu| 30|         8| 25000|
+----------+---+----------+------+

In [172]:
from pyspark.sql import SparkSession

In [178]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [182]:
spark

In [184]:
df_pyspark=spark.read.csv('book5.csv',header=True,inferSchema=True)

In [186]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    krish|Data Science| 10000|
|    krish|         IOT|  5000|
|   mahesh|    Big Data|  4000|
|    krish|    Big Data|  4000|
|   mahesh|Data Science|  3000|
|sudhanshu|Data Science| 20000|
|sudhanshu|         IOT| 10000|
|sudhanshu|    Big Data|  5000|
|    sunny|Data Science| 10000|
+---------+------------+------+

In [188]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [196]:
##groupby
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|    sunny|      10000|
|    krish|      19000|
|sudhanshu|      35000|
|   mahesh|       7000|
+---------+-----------+

In [198]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [200]:
df_pyspark.groupBy('Departments').min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       4000|
|Data Science|       3000|
+------------+-----------+

In [202]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [204]:
df_pyspark.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+

In [227]:
training = spark.read.csv('Book4.csv',header = True,inferSchema=True)

In [229]:
training.show()

+----------+---+----------+------+
|      Name|Age|Experiance|Salary|
+----------+---+----------+------+
|     krish| 31|        10| 30000|
|sudhangshu| 30|         8| 25000|
|     sunny| 29|         4| 20000|
|      paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|    subham| 23|         2| 18000|
+----------+---+----------+------+

In [231]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experiance: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [233]:
training.columns

['Name', 'Age', 'Experiance', 'Salary']

In [241]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Experiance"],outputCol="Independent features")

In [243]:
output=featureassembler.transform(training)

In [245]:
output.show()

+----------+---+----------+------+--------------------+
|      Name|Age|Experiance|Salary|Independent features|
+----------+---+----------+------+--------------------+
|     krish| 31|        10| 30000|         [31.0,10.0]|
|sudhangshu| 30|         8| 25000|          [30.0,8.0]|
|     sunny| 29|         4| 20000|          [29.0,4.0]|
|      paul| 24|         3| 20000|          [24.0,3.0]|
|    Harsha| 21|         1| 15000|          [21.0,1.0]|
|    subham| 23|         2| 18000|          [23.0,2.0]|
+----------+---+----------+------+--------------------+

In [247]:
output.columns

['Name', 'Age', 'Experiance', 'Salary', 'Independent features']

In [249]:
finalize_data=output.select("independent Features","salary")

In [251]:
finalize_data.show()

+--------------------+------+
|independent Features|salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [259]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalize_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='independent Features', labelCol='salary')
regressor=regressor.fit(train_data)

In [263]:
### Coefficients
regressor.coefficients

DenseVector([-714.2857, 3485.7143])

In [265]:

### Intercepts
regressor.intercept

26857.142857139796

In [267]:
### Prediction
pred_results=regressor.evaluate(test_data)
pred_results.predictions.show()

+--------------------+------+-----------------+
|independent Features|salary|       prediction|
+--------------------+------+-----------------+
|          [30.0,8.0]| 25000|33314.28571428435|
|         [31.0,10.0]| 30000|39571.42857142653|
+--------------------+------+-----------------+